/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li + li:before {
  content: "|";
  padding-right: 0.3em;
}

body {
  font-size: 16px;
}

.home {
  color: #333;
}
.cu-cl {
  color: darkmagenta;
}
.btn-cl {
  background-color: darkmagenta;
  border-color: darkmagenta;
}
.nav-logo {
  color: darkmagenta !important;
  margin: 0;
  font-size: 40px;
  font-weight: 800;
}
.mg-xs {
  margin: 15px;
}
.mg-md {
  margin: 30px;
}
.map {
  height: 500px;
  border: 1px solid rgba(0,0,0, 0.6);
  margin: 15px 0;
  border-radius: 5px;
}

/*.map-container .container-fluid {*/
  /*position: absolute;*/
  /*bottom: 0;*/
  /*left: 0;*/
/*}*/
.map-info {
  border-bottom: 1px solid #ddd;
  margin-bottom: 10px;
}

.map-info i {
  background-color: black;
  padding: 10px;
  color: white;
  border-radius: 100%;
  margin-right: 10px;
}

.map-info small {
  text-transform: uppercase;
  font-weight: bold;
  color: #6f6f6f;
  font-size: 75%;
}

.block-ui-message {
  display: inline-block;
  text-align: left;
  background-color: rgba(0,0,0,0.7);
  color: #f5f5f5;
  padding: 15px;
  border-radius: 4px;
  font-size: 15px;
  letter-spacing: 2px;
  /* needed for IE */

  filter: alpha(opacity=100);
}
.help-block p {
  margin: 0;
  text-align: left;
  color: red;
  font-size: 12px;
}
.has-error {
  border: 1px solid red;
}
.footer {
    padding: 20px;
    margin-top: 20px;
    background-color: #f8f8f8;
    border-top: 1px solid #e7e7e7;
    position:relative;
}