/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li + li:before {
  content: "|";
  padding-right: 0.3em;
}

body {
  font-size: 16px;
  letter-spacing: 1px;
}

.home {
  color: #333;
}
.cu-cl {
  color: darkmagenta;
}
.btn-cl {
  background-color: darkmagenta;
  border-color: darkmagenta;
  color: white;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
}
.btn-cl:hover {
  background-color: #cb00cb;
  color: white;
}

.btn-cl:visited {
  color: white;
}
.nav-logo {
  color: darkmagenta !important;
  margin: 0;
  font-size: 40px;
  font-weight: 800;
}
.mg-xs {
  margin: 15px;
}
.mg-md {
  margin: 30px;
}
.map {
  height: 500px;
  border: 1px solid rgba(0,0,0, 0.6);
  margin: 15px 0;
  border-radius: 5px;
}

/*.map-container .container-fluid {*/
  /*position: absolute;*/
  /*bottom: 0;*/
  /*left: 0;*/
/*}*/
.map-info {
  border-bottom: 1px solid #ddd;
  margin-bottom: 10px;
}

.map-info-last {
  border-bottom: none;
}

.map-info i {
  background-color: black;
  padding: 10px;
  color: white;
  border-radius: 100%;
  margin-right: 10px;
}

.map-info small {
  text-transform: uppercase;
  font-weight: bold;
  color: #6f6f6f;
  font-size: 75%;
}

.block-ui-message {
  display: inline-block;
  text-align: left;
  background-color: rgba(0,0,0,0.7);
  color: #f5f5f5;
  padding: 15px;
  border-radius: 4px;
  font-size: 15px;
  letter-spacing: 2px;
  /* needed for IE */

  filter: alpha(opacity=100);
}
.help-block p {
  margin: 0;
  text-align: left;
  color: red;
  font-size: 12px;
}
.has-error {
  border: 1px solid red;
}
.footer {
    padding: 20px;
    margin-top: 20px;
    background-color: #f8f8f8;
    border-top: 1px solid #e7e7e7;
    position:relative;
}

/*CSS PADDING*/
.padding-5 {
  padding: 5px !important;
}

.padding-10 {
  padding: 10px !important;
}

.padding-15 {
  padding: 15px !important;
}

.padding-20 {
  padding: 20px !important;
}

.padding-25 {
  padding: 25px !important;
}

.padding-30 {
  padding: 30px !important;
}

.padding-35 {
  padding: 35px !important;
}

.padding-40 {
  padding: 40px !important;
}

.padding-100 {
  padding: 100px !important;
}

.map-bg {
  border-top: 1px solid #ddd;
  background: url(/img/map2.png);
  background-size: cover;
  margin-bottom: -20px;
  color: white;
}
.cu-header {
  border-bottom: 1px solid #ddd;
  padding: 20px 60px;
  margin-bottom: 20px;
}
.cu-list {
  padding-left: 40px;
  padding-right: 40px;
}
.cu-list .cu-list-item {
  border-bottom: 1px solid #ddd;
  padding: 15px 0;
}
.cu-list .last {
  border-bottom: none;
}
.cu-question {
  font-weight: 900;
  font-size: 90%;
  color: #525252;
  text-transform: uppercase;
}
.cu-txt-header {
  font-weight: 800;
  color: #525252;
}
.cu-icon {
  color: darkmagenta;
  font-size: 40px;
  padding: 20px;
  margin: 0;
}
.large-heading {
  font-weight: 900;
  color: white;
  font-size: 45px;
}

.index-top {
  padding: 140px 100px 100px;
  text-align: center !important;
}

@media (max-width: 767px) {
  .index-top {
    padding: 50px;
  }
}

@media (width: 768px) {
  .index-top {
    padding: 60px;
  }
}

 /*BACKGROUND COLOUR STYLES*/
.bg-black {
  background-color: black !important;
}

.bg-darkmagenta {
  background-color: darkmagenta !important;
}

.bg-green {
  background-color: green !important;
}

.bg-red{
  background-color: red !important;
}

.bg-blue{
  background-color: blue !important;
}

.home-top {
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(../img/bg1.jpg);
  background-size: cover;
  min-height: 400px;
  color: white
}

.line-bottom {
  border-bottom: 1px solid #ddd;
}
.pad-vertical {
  padding-top: 15px;
  padding-bottom: 15px;
}
.direction-image {
  max-width: 25px !important;
}