<!-- start: DASHBOARD TITLE -->
<section id="page-title" class="padding-top-15 padding-bottom-15">
	<div class="row">
		<div class="col-sm-7">
			<h1 class="mainTitle">WELCOME TO YOUR DASHBOARD!</h1>
			<span class="mainDescription">You can view and manage all your shuttles here.</span>
		</div>
	</div>
</section>
<!-- end: DASHBOARD TITLE -->
<!-- start: FEATURED BOX LINKS -->
<div ng-controller="dashboardCtrl">
	<div class="container-fluid container-fullw bg-white">
		<div class="row">
			<div class="container-fluid">
				<div class="text-right">
					<button class="btn btn-primary" ng-if="shuttleIdBuffer" ng-click="toggleSelectedShuttle()" ng-disabled="loadingTransit" >Switch To Transit Mode</button>
					<button class="btn btn-danger" ng-if="transitMode === true" ng-click="toggleTransitMode(shuttleIdBuffer)" ng-disabled="loadingTransit" >Log Off</button>
				</div>
			</div>
			<div class="row">
				<div class="container-fluid text-center padding-40">
					<p style="font-size: 50px;"><i class="fa fa-bus"></i></p>
					<div ng-if="!transitMode">
						<p>You are not currently in transit.</p>
						<p>Select one of your shuttles below.</p>
					</div>
					<div ng-if="transitMode">
						<p>You are in transit.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container-fluid">
		<div class="row">
			<div class="container-fluid text-center padding-40">
				<div class="row" ng-if="loadingShuttles">
					<div class="padding-40">
						<p><i class="fa fa-refresh fa-spin"></i></p>
						<p>Loading your shuttles...</p>
					</div>
				</div>
				<div class="row" ng-if="shuttles && !shuttle">
					<div class="col-md-8 col-md-offset-2" style="height: 400px; overflow-y: scroll;" ng-if="shuttles.length > 0">
						<div class="row">
							<div class="col-md-6" ng-repeat="shuttle in shuttles" ng-class="{'col-md-offset-3': shuttles.length === 1}">
								<a ng-click= "selectShuttle(shuttle.shuttle_id)">
									<div class="panel panel-white" ng-class="{'selected': shuttle.shuttle_id === shuttleIdBuffer}">
										<div class="panel-body">
											<div class="panel-header">
												<h4>{{shuttle.brand | capitalize}}</h4>
											</div>
											<hr>
											<p><label>Number of seats: </label> {{shuttle.no_of_seats}}</p>
											<p><label>Air Conditioner:</label> {{shuttle.ac}}</p>
											<p><label>Size:</label> {{shuttle.size | capitalize}}-size</p>
										</div>
									</div>
								</a>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="padding-40">
						<button class="btn btn-primary" ng-disabled="loadingTransit" ng-if="!loadingShuttles && shuttleIdBuffer" ng-click="toggleSelectedShuttle()">Drive!</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
