<div class="container-fluid" id="main" ng-controller="adminLoginCtrl">
    <div class="row text-center pad-vertical-md">
        <div class="col-md-3 col-md-offset-4">
            <div class="panel panel-white" style="padding: 15px;">
                <div class="panel-body">
                    <div class="text-header mg-header">
                        <h3>Login</h3>
                    </div>
                    <div class="alert alert-dismissable" ng-class="{'alert-success': serverResponse.status === 'success', 'alert-danger': serverResponse.status === 'error'}" ng-if="serverResponse">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        <p>{{serverResponse.message}}</p>
                    </div>
                    <form name="loginForm" ng-submit="submitForm(loginForm.$valid)" novalidate>
                        <div class="form-group">
                    <span class="input-icon">
                        <i class="fa fa-user"></i>
                        <input class="form-control" type="email" ng-class="{'has-error': loginForm.email.$invalid && loginForm.email.$touched}" name="email" ng-model="admin.email" placeholder="Email address" required>
                    </span>

                            <div class="help-block" ng-messages="loginForm.email.$error" ng-if="loginForm.email.$touched">
                                <div ng-messages-include="views/partial/formMessages.html"></div>
                            </div>
                        </div>
                        <div class="form-group">
                    <span class="input-icon">
                        <i class="fa fa-lock"></i>
                        <input class="form-control" ng-class="{'has-error': loginForm.password.$invalid && loginForm.password.$touched}" name="password" ng-model="admin.password" type="password" placeholder="Password" required>
                    </span>

                            <div class="help-block" ng-messages="loginForm.password.$error" ng-if="loginForm.password.$touched">
                                <div ng-messages-include="views/partial/formMessages.html"></div>
                            </div>
                        </div>
                        <div class="form-group">
                            <p class="text-muted"><small>Don't have an account? <a ui-sref="admin.signup">Sign Up</a>.</small></p>
                            <button class="btn btn-primary btn-round" ng-disabled="loginForm.$invalid||loading">Login <i class="fa fa-spinner fa-spin" ng-if="loading"></i></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div data-ng-include=" 'views/partial/footer.html' "></div>
