<!-- start: DASHBOARD TITLE -->
<section id="title" class="padding-top-15 padding-bottom-15" xmlns="http://www.w3.org/1999/html">
	<div class="row">
		<div class="col-sm-7">
			<h1 class="mainTitle">MANAGE LOCATIONS</h1>
			<span class="mainDescription">This is where you can view all locations and edit them based on your needs.</span>
		</div>
	</div>
</section>
<div class="container-fluid container-fullw bg-white ng-scope">
	<div class="row">
		<div class="col-sm-12">
			<div ng-controller="locationTableCtrl">
				<div class="table-responsive">
					<table ng-table="tableParams" class="table">
						<tbody ng-repeat="l in data">
						<tr id="tr{{p._id}}" ng-class-odd="'odd'" ng-class-even="'even'">
							<td class="rowTd" data-title="'Name'">{{l.name | capitalize}}</td>
							<td class="rowTd" data-title="'Type'">{{l.type | capitalize}}</td>
							<td class="rowTd" data-title="'Description'">{{l.description}}</td>
							<td class="rowTd" data-title="'Latitude'">{{l.latitude}}</td>
							<td class="rowTd" data-title="'Longitude'">{{l.longitude}}</td>
							<td class="rowTd" data-title="'Directions'">{{l.directions ? 'Yes' : 'No'}}</td>
							<td class="rowTd" data-title="'Status'"><span ng-class="{'label label-default': l.status === 'enabled', 'label label-danger': l.status === 'disabled' || l.status === 'blocked', 'label label-warning': l.status === 'pending'}">{{l.status || 'N/A'}}</span></td>
							<td class="rowTd" data-title="'Type'">{{l.created}}</td>
							<td class="rowTd" >
								<div class="pull-right margin-right-10">
									<input type=button class="btn btn-primary btn-o btn-sm" id="editRowBtn{{l._id}}" value="edit"
										   ng-click="setEditId(l._id, l)">
								</div>
							</td>
						</tr>
						<tr ng-show="editId===l._id" ng-if="editId===l._id">
							<td colspan="7" ng-include src="'scripts/components/admin/views/editLocationRow.html'"></td>
						</tr>
						</tbody>
					</table>
					<div class="text-center">
						<span ng-if="loading"><i class="fa fa-spinner fa-spin" style="font-size: 50px;"></i></span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>