<div class="container-fluid faq-container">
    <div class="row">
        <div class="cu-header map-bg">
            <div class="container">
                <h1>Frequently Asked Questions</h1>
                <p>To help you get the best out of <span class="cu-cl">ctis</span>, we have curated a list of frequently asked questions, so you don't have to ask them.</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="container cu-list">
            <div class="cu-list-item">
                <p class="cu-question">What does ctis mean?</p>
                <p>CTIS stands for CU (Covenant University) Traveller Information System</p>
            </div>
            <div class="cu-list-item">
                <p class="cu-question">What is an Advanced Traveller Information System?</p>
                <p>An ATIS is a system which helps users plan their trips around a region effectively. Popular examples are what you see at bus terminals and more recently, apps like Waze.</p>
            </div>
            <div class="cu-list-item">
                <p class="cu-question">How is it of benefit to me?</p>
                <p>An ATIS saves you the time and cost of not knowing how to plan your journeys. It helps increase your mobility and improves safety.</p>
            </div>
            <div class="cu-list-item">
                <p class="cu-question">How can I use it?</p>
                <p>Simply go to the map, to get useful information.</p>
            </div>
            <div class="cu-list-item last">
                <p class="cu-question">Do I need to pay for the service?</p>
                <p>No, it's entirely free.</p>
            </div>
        </div>
    </div>
</div>

<div data-ng-include=" 'views/partial/footer.html' "></div>
