<div class="container" ng-controller="mapCtrl">
    <div class="container-fluid" block-ui="mapBlockUI">
        <div class="alert alert-dismissable alert-danger" ng-if="errorMessage" style="margin-top: 20px;">
            <a class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <p>{{errorMessage}}</p>
        </div>
        <div class="map-container">
            <div class="map" id="map"></div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="map-info">
            <p><small>Number of available shuttles</small> </p>
            <p><i class="fa fa-bus bg-black"></i> {{shuttleCount || 'N/A'}}</p>
        </div>
        <div class="map-info">
            <p>
                <small>Departure location</small>
                <span style="float: right;" ng-if="departureLocation.latitude !== userLocation.latitude && departureLocation.longitude !== userLocation.longitude">
                    <a ng-click="resetDepartureLocation()" href="">Reset</a>
                </span>
            </p>
            <p><i class="fa fa-map bg-green"></i> {{ departureLocation.name || 'No departure location selected yet.'}}</p>
        </div>
        <div class="map-info">
            <p><small>Time till next shuttle arrives</small> </p>
            <p><i class="fa fa-clock-o bg-red"></i> {{nearestShuttle.distance_matrix.duration.text || 'N/A'}}</p>
        </div>
        <div class="map-info map-info-last">
            <p><small>Type of shuttle</small> </p>
            <p><i class="fa fa-bus bg-darkmagenta"></i> {{nearestShuttle ?  nearestShuttle.size + ' size bus' : 'N/A'| capitalize}}</p>
        </div>
    </div>
</div>
<div data-ng-include=" 'views/partial/footer.html' "></div>
